<div class="inProgress">
    <div class="infoMusic">
        <p class="title">Titre de la musique</p> <!--Si titre trop long et depasse le width choisie, cela mets ce qui dépasse en mode "..." -->
        <p class="artist">Chanteur/Groupe</p>
    </div>
    <div class="timeAndPlayer">
        <p class="time">1:30</p>
        <button class="previous"><img src="../../assets/previousMusic.svg" alt="bouton musique précédente"></button>
        <button class="play"><img src="../../assets/play.svg" alt="bouton play"></button>
        <button class="next"><img src="../../assets/next.svg" alt="bouton musique suivante"></button>

    </div>
</div>
