<div class="nextMusic">
    <div class="next">
        <div class="titreArtist">
            <p class="nextTitre">Titre de la musique</p>
            <p class="nextArtist">Chanteur/Groupe</p>
        </div>
        <p class="time">Dans 1:30</p>
    </div>
    <span class="border"></span>
    <div class="next">
        <div class="titreArtist">
            <p class="nextTitre">Titre de la musique</p>
            <p class="nextArtist">Chanteur/Groupe</p>
        </div>
        <p class="time">Dans 1:30</p>
    </div>
    <span class="border"></span>
    <div class="next">
        <div class="titreArtist">
            <p class="nextTitre">Titre de la musique</p>
            <p class="nextArtist">Chanteur/Groupe</p>
        </div>
        <p class="time">Dans 1:30</p>
    </div>
    <span class="border"></span>
    <div class="next">
        <div class="titreArtist">
            <p class="nextTitre">Titre de la musique</p>
            <p class="nextArtist">Chanteur/Groupe</p>
        </div>
        <p class="time">Dans 1:30</p>
    </div>
</div>
